<footer class="footer">
	{% include 'includes/social.twig' %}
	<div class="footer-bottom">
		<p>
			Copyright &copy; <span id="copyrightDate"></span> <a target="_blank" href="http://www.peopleintelligence.com/">Successful People Intelligence</a>
		</p>
		<p>
			Made with <i class="fa fa-heart"></i> by <a href="http://indee.io" target="_blank">Indee</a>
		</p>
	</div>
</footer>
