<header id="header">
	<div class="landing centered">
		<img src="{{theme.asset.img}}/banner.png" alt="" />
	</div>
	<script src="//use.typekit.net/afq7wtp.js"></script>
	<div class="midBar"></div>
</header>
