<header id="header" class="landing">
  <div class="container">
    <section id="landing-content">
      <h4>Coacting Styles</h4>
      <h2>ro quisquam est qui dolorem ipsum quia dolor sit amet, consect</h2>
      <p>quisquam est qui dolorem ipsum quia dolor sit</p>
      <a class="btn btn-primary btn-lg btn-coacting" href="#">Sign Up Today</a>
    </section>
  </div>
</header>

