<header id="header" class="landing">
  <div class="container">
    <section id="landing-content">
      <h4><span class="co">Co</span>acting Styles</h4>
      <h2>A new self-coaching approach to relationships at work</h2>
      <p>You’re just 30 words away ...</p>
      <a class="btn btn-primary btn-lg btn-coacting" href="https://coacting.co.uk/pre-purchase-tcs/">
        Buy Now
      </a>
    </section>
  </div>
</header>
