<header id="header">
	<div class="topBar">
		<a class="logo">
			<img src="{{theme.asset.img}}/logo.png" alt=""/>
		</a>
		<div class="social">
			<a href="">
				<i class="fa fa-facebook social__link"></i>
			</a>
			<a href="">
				<i class="fa fa-twitter social__link"></i>
			</a>
			<a href="">
				<i class="fa fa-linkedin social__link"></i>
			</a>
			<a href="">
				<i class="fa fa-google-plus social__link"></i>
			</a>
		</div>
	</div>
	<div class="landing centered">
		<div class="centered__inner">
			<h1 class="textCenter"> 
				<span>Co</span>acting Styles
			</h1>
			<p class="textCenter">A new self coaching approach to relationships at work.</p>
			<div class="btnRow">
				<a href="" class="bigBtn">Learn More</a>
				<a href="" class="bigBtn">Buy Now</a>
			</div>
			<form class="formSingle">
				<input type="email" placeholder="Register your interest" class="formSingle__input"/>
				<button class="formSingle__button"><i class="fa fa-paper-plane"></i></button>
			</form>
		</div>
	</div>
	<script src="//use.typekit.net/afq7wtp.js"></script>
	<div class="midBar"></div>
</header>
