<header id="header">
	<div class="">
		<img class="hero-image" src="{{theme.asset.img}}/landing.png" alt="" />
	</div>
	<script src="//use.typekit.net/afq7wtp.js"></script>
	<div class="midBar"></div>
</header>
