<nav id="mainNavigation" class="nav">

	<ul class="nav-group">
		<li class="nav-item">
			<a href="/" class="nav-link">Home</a>
		</li>

		{% for item in menu.get_items %}
			<li class="nav-item">
				<a href="{{item.get_link}}" class="nav-link">{{item.title}}</a>
				{% if item.get_children %}
					<ul class="dropdown">
			  			{% for child in item.get_children %}
							<li class="nav-item dropdown-item">
								<a href="{{child.get_link}}" class="nav-link dropdown-link">{{child.title}}</a>
							</li>
			  			{% endfor %}
					</ul>
		 		{% endif %}
			</li>
		{% endfor %}
		<li class="nav-item utility-flexRight">
			<a href="30words.coacting.co.uk" class="nav-link">Login</a>
		</li>

	</ul>

</nav>
