<div class="social">
  <a href="/" class="social-link">
    <i class="fa fa-facebook"></i>
  </a>
  <a href="/" class="social-link">
    <i class="fa fa-linkedin"></i>
  </a>
  <a href="/" class="social-link social-logo">
    <img class="footer-logo" src="{{theme.asset.img}}/logo.png" alt="" />
  </a>
  <a href="/" class="social-link">
    <i class="fa fa-twitter"></i>
  </a>
  <a href="/" class="social-link">
    <i class="fa fa-google-plus"></i>
  </a>
</div>
