extends master/base
block header
	.wrapper.wrapper--column
		h2.textCenter.strong Content Title
block content

	section.section
		.wrapper.wrapper--in.wrapper--gap
			p.textCenter.block--small
				| Dolorem labore accusantium semper fames torquent praesent turpis litora 
				| Dolorem labore accusantium semper fames torquent praesent turpis litora 
				| corrupti alias justo eleifend sem habitant reprehenderit lobortis unde. 
			img(src="holder.js/400x400?auto=yes", alt="")
	section.section.section--dark
		.wrapper.wrapper--in.wrapper--gap.wrapper--column
			h5.textCenter accusantium semper fame
			p.textCenter.block--med
				| Dolorem labore accusantium semper fames torquent praesent turpis litora 
				| Dolorem labore accusantium semper fames torquent praesent turpis litora 
				| corrupti alias justo eleifend sem habitant reprehenderit lobortis unde. 
			img(src="holder.js/1000x400?auto=yes", alt="")
	section.section
		.wrapper.wrapper--in.wrapper--gap
			img(src="holder.js/400x400?auto=yes", alt="")
			p.textCenter.block--small
				| Dolorem labore accusantium semper fames torquent praesent turpis litora 
				| Dolorem labore accusantium semper fames torquent praesent turpis litora 
				| corrupti alias justo eleifend sem habitant reprehenderit lobortis unde. 
		

