.social
	display flex
	justify-content flex-end
	&__link
		border 2px solid white
		border-radius 50%
		height 35px
		width 35px
		font-size 15px
		margin 5px
		color white
		display flex
		align-items center
		justify-content center
