{% extends "master/base.twig" %}
{% block content %}

	<nav class="navbar navbar-default navbar-follower">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="/">Home</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a class="hero-link" href="/contact-us">Get Started</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</nav>
	{% for post in posts %}
		<article class="content">
      <div id="contact">
        <header>
          <p>Fill up form below for any questions.</p>
        </header>
        <aside class="">
          <ul>
            <li>
              <i class="fa fa-clock-o"></i>
              <p><strong>Mon - Fri</strong></p>
              <p>9.00am - 6.00pm UK</p>
            </li>
            <li>
              <i class="fa fa-phone"></i>
              <p><strong>Phone:</strong></p>
              <p>01329 822344</p>
            </li>
            <li id="bigContact">
              <p>Get In Touch</p>
            </li>
            <li>
              <i class="fa fa-home"></i>
              <p><strong>Address:</strong></p>
              <p>
                48 Serpentine Road, <br>
                Fareham, <br>
                Hampshire, <br>
                United Kingdom, <br>
                PO16 7EB</p>
            </li>
          </ul>
        </aside>
        {{post.content}}
      </div>
		</article>
	{% endfor %}
{% endblock %}
