.centered
	.centered__inner
		h5.textCenter THANKS FOR CHECKING US OUT.
		br
		form.formSingle
			input.formSingle__input(type="email" placeholder="Register your interest")
			button.formSingle__button
				i.fa.fa-paper-plane
		.btnRow
			a(href="").bigBtn Learn More
			a(href="").bigBtn Buy Now
.bottomBar
	a.logo
		img(src="./img/logo.png", alt="")
	.social
		a(href="")
			i.fa.fa-facebook.social__link
		a(href="")
			i.fa.fa-twitter.social__link
		a(href="")
			i.fa.fa-linkedin.social__link
		a(href="")
			i.fa.fa-google-plus.social__link
