/*
| ID's

*/
#landingImage {
  max-width:700px;
  margin:0 auto;
}

.nav {
  background:$color1;
  &-group {
    background:$color1;
  }
  &-link {
    color:white;
    font-weight:300;
    transition:all 0.3s;
    padding:$gap;
    &:hover {
      background:color($color1 lightness(50%));
    }
  }
  &-mobile {
    background:$color1;
    &-navicon {
      color:white;
    }
    &-close {
      color:white;
      font-size:1.5rem;
      top:$gap;
      left:$gap;
    }
  }
}

.dropdown {
  background:$color1;
}

.footer {
  background:$color1;
  &-bottom {
    p {
      color:white;
      a {
        color:white;
        font-weight:900;
      }
    }
  }
}


.social {
  &-link {
    color:white;
    background:url('../img/cogs/cog12-3.png');
    background-repeat:no-repeat;
    background-size:100%;
    color:$color2;
    transition:all 0.3s;
    &:hover {
      color:white;
    }
  }
  &-logo {
    background:none;
  }
}

.button {
  background:$color2;
  color:white;
}


/*
| Formidible Overrides
*/

form.frm-show-form  {
  .frm_form_fields {
    fieldset {
      input, textarea {
        border:none!important;
        border-radius: 0!important;
        border-bottom:3px solid $color1!important;
        box-shadow:none!important;
      }
      .frm_submit {
        display:flex;
        input[type="submit"] {
          background:$color1!important;
          color:white!important;
          padding:$gap 75px!important;
        }
      }
    }
  }
}



/*
| Visual Composer Overrides
*/

.vc_row {
  padding:10px 0;
}

@media screen and (max-width:767px) {
  .vc_row {
    padding:0;
  }
}
/*
| Ultimate Addons Overrides
*/
div.ult_pricing_table  {
  font-size: responsive;
  .ult_pricing_heading {
    h3 {
      font-weight: 700!important;
    }
    h5, h3 {
      font-size: responsive;
    }
  }
  .ult-just-icon-wrapper {
    i {
      font-size:45px;
    }
  }
}
