.block
	margin 1em 0
	text-align center
	&--small
		max-width 250px
	&--med
		max-width 450px
	&__header
		margin 1em 0
		font-weight 700
		text-transform uppercase
		letter-spacing 2px
	&__section
		line-height 1.2em
		color rgb(133, 140, 145)
		
