.block
	margin 1em 0
	&--small
		max-width 250px
	&--med
		max-width 450px
	&__header
		margin 1em 0
		font-weight 700
		text-transform uppercase
		letter-spacing 2px
	&__section
		color rgb(133, 140, 145)
		
