#testimonial-carousel {
  position:relative;
  margin-bottom:45px;

  .owl-controls {
    position:absolute;
    left:0;
    top:0;
    width:100%;
  }

  .owl-prev {
    position:absolute;
    left:15px;
    padding:5px 15px;
    background:#eee;
    border-radius:20px;
  }

  .owl-next {
    position:absolute;
    right:15px;
    padding:5px 15px;
    background:#eee;
    border-radius:20px;
  }

  .carousel-item {
    padding:0 60px;
    p {
      margin:0;
      text-align:center;

      &:before, &:after {
        font-family:"FontAwesome";
        padding:15px;
        font-size:2rem;
        position:relative;
        top:5px;
        color:$pallet1;
      }

      &:before {
        content:"\f10d";
      }

      &:after {
        content:"\f10e";
      }
    }
    .testimonial-name {

      &:before, &:after {
        content:"";
      }
    }
  }
}


.co {
  color:$pallet2;
}



#footerNavigation {
  margin-bottom:15px;
  a {
    margin:15px;
    &:hover{text-decoration:none}
  }
}


@media screen and (max-width:767px) {
  #footerNavigation {
    width:150px;
    display:flex;
    flex-direction:column;
    a {
    }
  }
}




.prices {
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
  width:100%;
  max-width:1000px;
  margin:0 auto;
  margin-bottom:50px;
}

.price-item {
  flex: 1;
  height: 350px;
  min-width: 250px;
  max-width: 250px;
  margin: 5px;
  position: relative;
  &.theme1 {
    .price-item-cover {background:$pallet3}
  }
  &.theme2 {
    .price-item-cover {background:$pallet4}
  }
  &-cover {
    background: $pallet1;
    height: 340px;
    width: 210px;
    position: absolute;
    bottom: 0;
    right: 20px;
  }
  &-face {
    background:rgba(249,249,249, 0.99);
    padding:30px 10px 10px 30px;
    border-left:#eee 1px solid;
    border-top:#eee 1px solid;
    height: 280px;
    width: 200px;
    box-shadow: 36px 29px 135px -25px rgba(0,0,0,0.32);
    position:absolute;
    header {
      position:relative;
      h3 {
        font-weight:700;
        font-size:3rem;
      }
      span {
        position: absolute;
        right: 34px;
        top: 38px;
        font-weight: 700;
        text-transform: uppercase;
        font-size: .6rem;
        background: rgba(255,255,255,0.6);
        border: 1px solid #eee;
        padding: 2px 9px;
        border-radius: 10px;
      }
      &:after {
        width:100%;
        content:"";
        height:2px;
        border-radius:50%;
        background:#eee;
        display:block;
        margin:15px 0;
      }
    }
    section {
      p {
        text-align:center;
        margin-top:40px;
        margin-bottom:0;
        font-weight:500;
        font-size:1.5rem;
      }
      span {
        text-align:center;
        position:relative;
        top:-10px;
        width:100%;
        display:block;
        margin:0;
      }
    }
  }
  a {
    position: absolute;
    bottom: 20px;
    left: 45px;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
  }
}


.Contact_Us {
  background:url('../img/paper.jpg');
  background-repeat:repeat;
  #contact {
    background:rgba(255,255,255,0.4);
    box-shadow: 10px 10px 122px -24px rgba(0,0,0,0.35);
    display:flex;
    flex-direction: column;
    margin:100px 0 150px 150px;
    padding-left:200px;
    position:relative;
    header {
      padding-top:30px;
      p {text-align: center}
    }
    aside {
      position:absolute;
      left:0;
      top:0;
      padding:15px;
      height:100%;
      background:#f0ebdf;
      width:200px;
      ul {
        list-style-type:none;
        padding:0;
        margin:0;
        height: 100%;
        li {
          display:flex;
          flex-direction:column;
          height:15%;
          position:relative;
          padding-left:30px;
          /*background:blue;*/
          i {
            color:$pallet1;
            position:absolute;
            left:0;
            top:10px;
            font-size:1.4rem;
          }
          p {
            margin:0;
          }
        }
      }
      #bigContact {
        position: relative;
        /*background:red;*/
        height:40%;
        p {
          background:$pallet3;
          position: absolute;
          color:$pallet1;
          font-size:3.5rem;
          color:white;
          text-transform:uppercase;
          font-weight:900;
          padding:30px 10px;
          line-height:0.9;
          text-align:center;
          left:-80px;
        }
      }
    }
    form {
      padding:30px;
      .frm_form_field {
        width:100%;
        border:none;
        display:flex;
        input,textarea {
          padding:15px;
          height:auto;
          border:none;
          border-radius:0;
          box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
        }
        input {

        }
        textarea {

        }
      }
      .frm_submit {
        input {
          background:$pallet1;
          border:none;
          border-radius:0;
          color:white;
          padding:15px 30px;
        }
      }
    }
  }
}

@media screen and (max-width:767px) {
  .Contact_Us {
    #contact {
      margin:20px;
      padding-left:0;
      aside {display:none;}
      form {
        .frm_form_field {
          input,textarea {
          }
          input {

          }
          textarea {

          }
        }
        .frm_submit {
          width:100%;
          input {
            width:100%;
            display: block;
            margin:0;
          }
        }
      }
    }
  }
}

@media screen and (max-width:450px) {
  .Contact_Us {
    .navbar {margin-bottom:0;}
    .content{
      padding:5px;
    }
    #contact {
      margin:5px;
      form {
        .frm_form_field {
          input,textarea {
          }
          input {

          }
          textarea {

          }
        }
        .frm_submit {
          input {
          }
          img {
            display:none;
          }
        }
      }
    }
  }
}
