#testimonial-carousel {
  position:relative;
  margin-bottom:45px;

  .owl-controls {
    position:absolute;
    left:0;
    top:0;
    width:100%;
  }

  .owl-prev {
    position:absolute;
    left:15px;
    padding:5px 15px;
    background:#eee;
    border-radius:20px;
  }

  .owl-next {
    position:absolute;
    right:15px;
    padding:5px 15px;
    background:#eee;
    border-radius:20px;
  }

  .carousel-item {
    padding:0 60px;
    p {
      margin:0;
      text-align:center;
      
      &:before, &:after {
        font-family:"FontAwesome";
        padding:15px;
        font-size:2rem;
        position:relative;
        top:5px;
        color:$pallet1;
      }
      
      &:before {
        content:"\f10d";
      }
      
      &:after {
        content:"\f10e";
      }
    }
    .testimonial-name {

      &:before, &:after {
        content:"";
      }
    }
  }
}


.co {
  color:$pallet2;
}
