.landing {
  background:url('../img/landing.jpg');
  background-size:cover;
  #landing-content {
    h2,h3,h4,p {
      color:#303030;
      margin:0;
    }
    h2 {}
    h3 {}
    h4 {text-transform:uppercase}
    a {margin-top:15px;}
  }
}


.navbar {
  background:transparent;
}

#navbar-coacting {
  display:flex!important;
  justify-content:center;
  ul {
    li {
      a {
        color:white;
        text-align:center;
      }
    }
  }
}

.navbar-coacting {
  border-radius:0;
  border:none;
  .navbar-header {
    .navbar-toggle {
      background:white;
    }
  }
  .navbar-collapse {
    padding-left:0;
    padding-right:0; 
    .navbar-nav {
      li {
        a {
          color:#303030;
          transition:all 0.3s;
          position:relative;
          border-bottom:2px solid transparent;
          &:hover {
            border-bottom:2px solid white;
          }
        }
      }
    }
  }
}

.navbar-follower {
  background:rgba(255,255,255,0.8);
  z-index:999;
  border-radius:0;
  .navbar-header {
    .navbar-toggle {
    }
  }
  .navbar-collapse {
    .navbar-nav {
      li {
        a {
          text-transform:uppercase;
          font-weight:500;
          font-size:0.65rem;
          &:hover {
          }
        }
      }
    }
  }
}

@media screen and (max-width:767px) {
  .navbar-coacting {
    .navbar-header {
      .navbar-collapse {
        padding-left:15px;
        padding-right:15px; 
      }
      .navbar-nav {
        margin-top:15px;
        margin-bottom:15px;
      }
    }
  }
}

.page-section {
  position:relative;
  overflow:hidden;
  &:after {
    width:100%;
    margin:15px auto;
    height:1px;
    background:#eee;
    content:"";
    display:block;
  }
}

.footer {
  background:$pallet1;
  padding:15px;
  display:flex;
  justify-content:center;
  flex-direction:column;
  align-items:center;
  text-align:center;
  a {
    color:white;
  }
  .social {
    margin:15px 0;
  }
  .footer-logo {
    max-width:100px;
    width:100%;
  }
}

.btn {
  &-coacting {
    background:$pallet1!important;
    border:none;
    border-radius:;
  }
  &-center {
    margin: 0 auto 45px auto;
    display: block;
    max-width: 300px;
    width:100%;
    &:hover {
      background:white;
    }
  }
}



.container {
  max-width:1000px;
}
