/*
| Color Pallet
*/
/* Primary 1 */
$color1:#7e9fd1;
$dk-color1:color($color1 lightness(50%));
$lg-color1:color($color1 lightness(75%));

/* Primary 2 */
$color2:#fbbc7a;
$dk-color2:color($color2 lightness(50%));
$lg-color2:color($color2 lightness(75%));

/* Primary 3 */
$color3:#f18569;
$dk-color3:color($color3 lightness(50%));
$lg-color3:color($color3 lightness(75%));

/* Primary 4 */
$color4:#9e9fa1;
$dk-color4:color($color4 lightness(50%));
$lg-color4:color($color4 lightness(75%));


/*
| Utility Variables
*/
$gap:15px;
