.icon
	color color1
	border 2px solid color1
	padding 2px
	border-radius 50%
	height auto!important
	width auto!important
	position relative
	top -3px
	&:before
		position relative
		top 1px
		left 1px
	&--inline
		margin-right 5px
