// Collection of atoms that focus on typography

:root, body 
	font-family: "proxima-nova" sans-serif ;
	font-size 100%
	font-weight 300
	line-height 1

h1
	font-weight 500
	text-transform uppercase
	font-size 3em
h2
	font-size 2.5em
h3
	font-size 2em
h4
	font-size 1.5em
h5
	font-size 1.2em
	font-weight 700

p
	line-height: 1.5em;

a
	text-decoration:none;
	&:hover
		text-decoration:none;
		color inherit
		
.textCenter
	text-align center

p.strong
	text-transform uppercase
	font-weight 500
