.wrapper
	max-width 1050px
	margin 0 auto
	padding 1em
	display flex
	align-items center
	&--column
		flex-direction column
		justify-content center
	&--gap
		padding 5em 0
	&--out
		justify-content space-between
	&--in
		justify-content space-around
	&--noBottom
		padding-bottom 0
	&--dropped
		padding-bottom 0!important
		margin-bottom 0!important
		& img
			margin 0

.flexCenter
	display flex
	align-items center
	height 100%

.vcWrapper
	width 100%
	overflow-x hidden
.vcInner
	margin 0 auto
	max-width 1050px
.vc_row
	padding-top 3em
	padding-bottom 3em
