.wrapper
	max-width 940px
	margin 0 auto
	padding 1em
	display flex
	align-items center
	&--column
		flex-direction column
		justify-content center
	&--gap
		padding 5em 0
	&--out
		justify-content space-between
	&--in
		justify-content space-around
	&--noBottom
		padding-bottom 0
